body {
    font-family: Arial, sans-serif;
    background-color: white;
    font-size: 12px;
}
.chatbot{
    height: 100%;
    width: 100%;
}
.chat-container {
    /* max-width: 400px; */
    /* margin: 50px auto; */
    /* padding: 20px; */
    max-width: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.chat-message {
    margin-bottom: 10px;
}

.bot-message {
    background-color: #cce6ff;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    float: right;
}

.user-message {
    background-color: #e6ffe6;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    float: left;
}

input[type="text"] {
    width: calc(100% - 80px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
